{% extends 'base.html.twig' %}

{% block title %}Edit LinePokemon{% endblock %}

{% block body %}
    <h1>Edit LinePokemon</h1>

    {{ include('line_pokemon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_line_pokemon_index') }}">back to list</a>

    {{ include('line_pokemon/_delete_form.html.twig') }}
{% endblock %}
